.cardcontainer{
 display: inline-block;
    padding :20px;
   
}

.card{
 height:60vh ;
 width: 50vh;
 border: 2px solid black;
 align-items: center;
 text-align: center;
 padding: 20px;
 background-color: rgb(119, 92, 92);
 color: white;
 border-radius: 10px;
 position: relative;
 
}

button{
   padding: 10px;
   border: 2px solid white;
   color:white;
   background: transparent;
   margin-right: 2px;
   
}
button:hover,button:focus{
   background-color: white;
   color: black;
}
ul
 {
    list-style: none;
 }
 .imgdiv{
    position: relative;
   
 }
 img{
    border: 2px blue solid;
    border-radius: 50%;
    padding: 5px;
 }
 .pro
 {
   color: white;
   position: absolute;
   top:10px;
   left: 70px;
   border-radius: 5px;
   padding: 3px;
   border: none;
 }
 .online{
   
    background-color: green;
 }
 .offline{
    
    background-color: red;
 }
 .skillsdiv{
    text-align: left;
    color: white;
 }
 .skillsdiv ul{
    display: inline-block;
    column-gap: 20px;

 }

.skillsdiv li{
    border: 2px solid wheat;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    color: white;

 
}
 